
body {
	width:100%;
	margin: 0 auto;
	background-image: url(Raw_images/home_image.jpg);
	background-color:black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 68%;

}

body nav {
	width:100%;
    text-align: center;
	padding-top: 25px;
}
    

body nav a {
	font-size: 22px;
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: 2px;
	color:#DC9597;
	text-decoration: none;
	margin: 20px;
}

main div {
		
		bottom:0; 
		position: absolute;
		/* left: 50%; */
		width: 100%;
}

main h1 {
	font-family: 'Nosifer', cursive;
	text-align: center;
	font-size: 109px;
	color: white;
	letter-spacing: 88px;
	margin-bottom: 0;
	border-bottom: 2px solid white;
	margin: 0 150px 50px;
}

/* main h1::after {
	display: block;
	width: 100%;
	background-color: white;
	height: 2px;
	content: '';
} */





	

	
